.playground__main {
    height: 100vh;
    width: 100vw;

    .playground__section {
        height: 100vh;
        width: 100vw;
    }
}

.playground__views {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    .playground__code {
        height: 100%;
        width: 100%;
        background-color: $code-background-color;
        color: $code-color;
        font-size: 1.2rem;
        font-family: "Fira Code", monospace;
        resize: none;
        padding: 1rem;
    }

    .playground__code__logo {
        position: absolute;
        bottom: 5px;
        right: 20px;
        height: 40px;
        opacity: 0.2;
    }

    .playground__iframe {
        height: 100%;
        width: 100%;
        border: none;
    }
}
