/* PLAYGROUND */
@font-face {
  font-family: 'Fira Code';
  src: url(../../../fonts/FiraCode-VariableFont_wght.ttf); }

/*******
  root
 ******/
* {
  font: inherit; }

*,
::before,
::after {
  box-sizing: border-box; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/***********
  margins
  paddings
 **********/
body,
button,
h1, h2, h3, h4, h5, h6,
input,
nav,
select,
textarea,
ul, ol, dl {
  margin: 0;
  padding: 0; }

/*********
  hovers
 ********/
a:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer; }

/**************
  decorations
 *************/
a,
button,
input,
select,
textarea {
  background: none;
  color: inherit;
  border: none;
  text-transform: none;
  text-decoration: none; }
  a:focus,
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }

ul {
  list-style: none; }

.playground__grid {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .playground__grid .playground__main {
    height: 100vh;
    width: 96vw; }
    .playground__grid .playground__main .playground__section {
      height: 100vh;
      width: 96vw; }

.playground__views {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .playground__views.playground__views--html::before {
    content: '';
    position: absolute;
    background: url("/images/html.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    opacity: 0.5; }
  .playground__views.playground__views--css::before {
    content: '';
    position: absolute;
    background: url("/images/css.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    opacity: 0.5; }
  .playground__views.playground__views--js::before {
    content: '';
    position: absolute;
    background: url("/images/js.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    opacity: 0.5; }
  .playground__views .playground__code {
    height: 100%;
    width: 100%;
    background-color: #2d2d2d;
    color: #f8f8f2;
    font-size: 1.2rem;
    font-family: 'Fira Code', monospace;
    resize: none;
    padding: 1rem; }
  .playground__views .playground__code__logo {
    position: absolute;
    bottom: 5px;
    right: 20px;
    height: 40px;
    opacity: 0.2; }
  .playground__views .playground__iframe {
    height: 100%;
    width: 100%;
    border: none; }

.playground__header {
  height: 100vh;
  width: 4vw;
  background-color: #212a3e; }
  .playground__header .header__playground {
    min-height: 80%;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #f8f8f2; }
    .playground__header .header__playground .header__playground__image {
      border: solid 2px #f8f8f2;
      border-bottom-width: 7px;
      padding: 1rem;
      border-radius: 100%; }
