.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Josefin Sans, sans-serif;
}
.login .login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.login .login__container .login__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.login .login__container .login__form {
    display: flex;
    flex-direction: column;
}
.login .login__container .login__form .login__form--label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.login .login__container .login__form .login__form--input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: red;
}
.login .login__container .login__form .login__form--button {
    width: 100%;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: red;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.login .login__container .login__form .login__form--button:hover {
    background-color: red;
    color: white;
}
