/* PLAYGROUND */
$code-background-color: #2d2d2d;
$code-color: #f8f8f2;
$code-active-border-color: #3ab7ff;

@font-face {
    font-family: 'Fira Code';
    src: url(../../../fonts/FiraCode-VariableFont_wght.ttf);
}
