footer{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .footer__text{
        font-family: Josefin Sans, sans-serif;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        color: $header-generic-text-color;

        a{
            color: $header-generic-text-color;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background: $header-generic-text-hover-color;
            }
        }
    }
}